.NATIVO{
  text-align: center;
    border: 50px solid yellow;
    background-color: yellow;
    margin: auto;
}

.NATIVO h1 {
  color: black;
}

img{
  width: 500px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}
