* {
    box-sizing: none;
}

html {
    font-size: 100%;
}

body {
color: #777777;
font-family: "Poppins", sans-serif;
font-size: 14px;
font-weight: 300;
line-height: 1.625em;
position: relative;
}

#about {
  text-align: center;
  }
  h2. {
    text-align: center;
    text-color: grey;
    }
    .p1-gradient-bg,
    .primary-btn,
    .primary-btn2:hover,
    .default-header,
    .dropdown-menu,
    .banner-area,
    .myself-wrap .desc .talk-btn,
    .skillbar-bar,
    .single-feature:hover,
    .single-footer-widget .click-btn,
    .generic-banner {
      background-image: -moz-linear-gradient(0deg, #eee45fd7 0%, #eee45fd7 100%);
      background-image: -webkit-linear-gradient(0deg, #eee45fd7 0%, #eee45fd7 100%);
      background-image: -ms-linear-gradient(0deg, #eee45fd7 0%, #eee45fd7 100%);
      }
